@model LibrarySystem.Models.Domain.LibraryUnit

<div class=" mt-2 container"
     style="background-color:white;width:400px; padding-bottom:10px">



    <form method="post">
        @{
            if (ViewBag.Action == "Create")
            {
                <h1 class="text-center" style="font-style:italic">Create Library Unit</h1>

                <div class="mb-3">
                    <label class="ms-2">Type</label>
                    <select name="titlename" asp-items="@ViewBag.TitleList" class="form-control">
                        <option disabled selected class="text-center">--Select Type--</option>
                    </select>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label class="ms-2">Current Conidtion</label>
                    <select asp-for="CurrentCondition" asp-items="@ViewBag.ConditionList" class="form-control">
                        <option disabled selected class="text-center">--Select a Condition--</option>
                    </select>
                    <span asp-validation-for="CurrentCondition" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="ms-2">Medium</label>
                    <select asp-for="Medium" asp-items="@ViewBag.MediumList" class="form-control">
                        <option disabled selected class="text-center">--Select Medium--</option>
                    </select>
                    <span asp-validation-for="Medium" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="ms-2">Place</label>
                    <select asp-for="Place" asp-items="@ViewBag.PlaceList" class="form-control">
                        <option disabled selected class="text-center">--Select a Place--</option>
                    </select>
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>



                <div class="mb-3">
                    <button type="submit" class="btn btn-primary text-center" style="float:left">Create</button>
                </div>

            }
            else if(ViewBag.Action=="Edit")
            {
                <h1 class="text-center" style="font-style:italic">Update Library Unit</h1>
                <input asp-for="Id" hidden/>
                <input asp-for="Title" hidden />
                <div class="mb-3">
                    <label class="ms-2">Type</label>
                    <select name="titlename" asp-items="@ViewBag.TitleList" class="form-control">
                        <option disabled selected class="text-center">--Select Type--</option>
                    </select>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label class="ms-2">Current Conidtion</label>
                    <select asp-for="CurrentCondition" asp-items="@ViewBag.ConditionList" class="form-control">
                        <option disabled selected class="text-center">--Select a Condition--</option>
                    </select>
                    <span asp-validation-for="CurrentCondition" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="ms-2">Medium</label>
                    <select asp-for="Medium" asp-items="@ViewBag.MediumList" class="form-control">
                        <option disabled selected class="text-center">--Select Medium--</option>
                    </select>
                    <span asp-validation-for="Medium" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="ms-2">Place</label>
                    <select asp-for="Place" asp-items="@ViewBag.PlaceList" class="form-control">
                        <option disabled selected class="text-center">--Select a Place--</option>
                    </select>
                    <span asp-validation-for="Place" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary text-center" style="float:left">Update</button>
                </div>

            }

            <div class="text-center">
                <a asp-controller="ManageLibraryUnits" asp-action="Index" class="btn btn-link" style="float:right;"> Back to List</a>
            </div>

        }

    </form>
    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }
</div>